
  header img {
    height: 90px;
    margin-left: 40px;
    
}
body {
     
    margin-top: 80px;
    
}

header {
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 25pt;
}

header * {
    display: inline;
}

header li {
    margin: 30px;
    align-items: center;
}


h1{text-align: center; font-size: 80pt; padding-right: 300pt;padding-left: 100pt;}
h2{text-align: center; font-size: 40pt;}
h2{text-align: center; font-size: 30pt;}
.center {
    margin-left: auto;
    margin-right: auto;
    font-size: 40pt;
  }

  .rectangle {
    height: 50px;
    width: 100px;
    background-color: red;
  }
  .rectangle1 {
    height: 50px;
    width: 100px;
    background-color: green;
  }

  footer {
    background-color: grey;
    top: 0;
    left: 0;
    right: 0;
    height: 7.5px;
 
    align-items: center;
    /* box-shadow: 0 0 25px 0 black; */
    padding: 25pt;
}

footer * {
    display: inline;
}

footer li {
    margin: 30px;
    align-items: center;
}
p{
font-size: 20pt;

}


div1 {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 110px;

  }
  input {
    padding: 5px 10px;
  } 
  .button {
    background-color:darkcyan;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 150px;
  }